# Google Maps API Key
# Obtenha sua chave em: https://console.cloud.google.com/apis/credentials
GOOGLE_MAPS_API_KEY=sua_chave_aqui

# Facebook/Instagram Access Token (Opcional)
# Obtenha em: https://developers.facebook.com/
# FACEBOOK_ACCESS_TOKEN=seu_token_aqui

